
html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
}

core-animated-pages {
    width: 700px;
    height: 600px;
    border: 1px solid black;
    -webkit-user-select: none;
    border-radius: 5px;
    overflow: hidden;
}

.fabNavLeft {
    background-color: #00bbd3;
    position: absolute;
    left: 0;
    top: 300px;
}

.fabNavRight {
    float: right;
    background-color: #00bbd3;
    position: absolute;
    right: 0;
    top: 300px;
}

div.page {
    background-color: #6a83cf;
    height: 100%
}

#pageUploadTranscript {

}