/*
  ----------------- Document -----------------
*/
html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
}

div.page {
    background-color: #6a83cf;
    height: 100%
}

#pageUploadTranscript {

}

/*
  ----------------- Core -----------------
*/
core-animated-pages {
    width: 850px;
    height: 600px;
    border: 2px solid black;
    -webkit-user-select: none;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 7px;
}

/*
  ----------------- Paper -----------------
*/
.fabNavLeft {
    background-color: #00bbd3;
    position: absolute;
    left: 0;
    top: 300px;
}

.fabNavRight {
    float: right;
    background-color: #00bbd3;
    position: absolute;
    right: 0;
    top: 300px;
}


paper-tabs {
    color: white;
}

paper-tabs::shadow #selectionBar {
    background-color: white;
    height: 5px;
}

paper-tabs paper-tab::shadow #ink {
   color: white;
}