
#scaffold {
}

#title {
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
    font-family: 'Berkshire Swash', cursive;
    padding: 10px;
}

#menuTitle {
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Arvo', serif;
    padding: 10px;
}

#guru_icon {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menu-dropdown {
    top: 38px;
    horiz-align: left;
}

#fabNavLeft {
    background-color: #BBDEFB;
    position: absolute;
    top: 50%;
    left: 35%;
}

#fabNavLeft {
    background-color: #BBDEFB;
    position: absolute;
    top: 50%;
    right: 35%;
}

#txtFirstName {
    position: relative;
    top: 20px;
}

body {
    background-color: #BBDEFB;
}

paper-tabs {
    background-color: #7986cb;
}

core-item:hover {
    background-color: #89bdff;
}

core-item.menuItem {
    font-size: 20px;
}